<p>event works!</p>
<p (click)="minhafunc()">Click Aqui</p>


<button class="m-2" (click)="somar()">Somar</button>
<button class="m-2" (click)="subtrair()">Subtrair</button>
<button class="m-2" (click)="dividir()">Dividir</button>
<button class="m-2" (click)="multiplicar()">Multiplicar</button>

{{resultado}}

<br><br>
<div class="text-center">
    <img src="https://tse4.mm.bing.net/th?id=OIP.qgLs7RpbpwaUFzkrAhqt7AHaEK&pid=Api&P=0" alt="" [width]="tamanho">
</div>
<br><br>
<button class="m-2" (click)="aumentar()"> Aumentar</button>
<button class="m-2" (click)="diminuir()"> Diminuir</button>